<footer class="bg-principal ">
  <nav class="container-fluid">
    <img src="/images/insta.svg" alt="Instagram logo it is clickeable" />
    <img src="/images/twitter.svg" alt="Twitter logo it is clickeable" />
    <img src="/images/facebook.svg" alt="Facebook logo it is clickeable" />
    <img src="/images/github.svg" alt="Github logo it is clickeable" />
  </nav>

  <div class="w-100 bg-dark py-3">
    <div class="container">
        <div class="row pt-2">
            <div class="col-lg-6 col-sm-12">
                <p class="text-lg-start text-center text-light light-300">
                    © Copyright 2021 - Calamarket - Todos los derechos reservados.
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <p class="text-lg-end text-center text-light light-300">
                    Diseñado por <a class="text-decoration-none text-light" 
      href="https://github.com/0921CDFSNCN22LAED/grupo-04"><strong>Grupo-04 DH ></strong></a>
                </p>
            </div>
        </div>
    </div>
</div>

</footer>
