<footer class="bg-principal container-fluid">
  <nav>
    <img src="/images/insta.svg" alt="Instagram logo it is clickeable" />
    <img src="/images/twitter.svg" alt="Twitter logo it is clickeable" />
    <img src="/images/facebook.svg" alt="Facebook logo it is clickeable" />
    <img src="/images/github.svg" alt="Github logo it is clickeable" />
  </nav>
</footer>
