<nav class="navbar navbar-expand-lg navbar-light bg-principal fixed-top shadow">

      <div class="justify-content-between container-fluid">

        <a class="navbar-brand fs-1" href="/">
          <img src="/images/Calamarket_V1.svg" alt="Logo calamardo guiñando el ojo" class="logo" />CALAMARKET
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold text-dark">
            <li class="nav-item">
              <a class="nav-link" href="/"><img src="/images/home.svg" alt="icon-home" class="icon-nav"/>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/market"><img src="/images/clarinete.svg" class="icon-nav" alt="icon-marketplace"/>Market</a>
            </li>

             <!-- Button trigger modal -->
             <li class="nav-item" data-bs-toggle="modal" data-bs-target="#cartModal">
              <a class="nav-link d-lg-flex flex-lg-column mt-1" href="#" ><img src="/images/cart.svg" class="icon-nav icon-simple" alt="icon-cart"/>Cart</a>
              <!-- Modal Carrito-->
              <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="cartModalLabel">My Cart</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!--articulos del carrito -->
                      <article>
                        <div class="d-flex">
                        <div class="card mb-3 mx-3 col-xxl card-cart" style="width: 8rem;">
                          <img src="/images/calamardos-nft/ryu.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Ryu</h5>
                          </div>
                        </div>
                        <div>
                          <div class="mt-3">
                            <a href="#" class="btn btn-outline-success">Eliminar</a>
                          </div>
                          <div class="mt-3">
                            <i class="fas fa-gem mx-1"></i>0.5 ETH
                          </div>
                        </div>
                        </div>
                      </article>

                      <article>
                        <div class="d-flex">
                        <div class="card mb-3 mx-3 col-xxl card-cart" style="width: 8rem;">
                          <img src="/images/calamardos-nft/sailor_moon1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Sailor Moon</h5>
                          </div>
                        </div>
                        <div>
                          <div class="mt-3">
                            <a href="#" class="btn btn-outline-success">Eliminar</a>
                          </div>
                          <div class="mt-3">
                            <i class="fas fa-gem mx-1"></i>0.5 ETH
                          </div>
                        </div>
                        </div>
                      </article>

                      <article>
                        <div class="d-flex">
                        <div class="card mb-3 mx-3 col-xxl card-cart" style="width: 8rem;">
                          <img src="/images/calamardos-nft/sasukeFinal.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Sasuke</h5>
                          </div>
                        </div>
                        <div>
                          <div class="mt-3">
                            <a href="#" class="btn btn-outline-success">Eliminar</a>
                          </div>
                          <div class="mt-3">
                            <i class="fas fa-gem mx-1"></i>0.5 ETH
                          </div>
                        </div>
                        </div>
                      </article>

                      <article>
                        <div class="d-flex">
                        <div class="card mb-3 mx-3 col-xxl card-cart" style="width: 8rem;">
                          <img src="/images/calamardos-nft/sasukeFinal.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title text-center">Sasuke</h5>
                          </div>
                        </div>
                        <div>
                          <div class="mt-3">
                            <a href="#" class="btn btn-outline-success">Eliminar</a>
                          </div>
                          <div class="mt-3">
                            <i class="fas fa-gem mx-1"></i>0.5 ETH
                          </div>
                        </div>
                        </div>
                      </article>
                      <!--fin articulos del carrito -->
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                      <div class="">
                        <p3>Total:<i class="fas fa-gem mx-1"></i>0000000,14 ETH</p3>
                      </div>
                      <div>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-outline-success">Comprar</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!--fin modal Carrito-->

            <li class="nav-item">
              <a class="nav-link d-lg-flex flex-lg-column mt-1" href="/login"><img src="/images/door-open.svg" class="icon-nav icon-simple" alt=""/>Login</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
