<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->

    <main class="container body-container">     

      <h1>Carga de Productos</h1>

    <form action="/admin-create" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1">Nombre:</span>
        <input type="text" class="form-control design-input" placeholder="nombre" aria-describedby="basic-addon1" name="nombre">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1">Imagen NFT:</span>
        <input type="file" class="form-control design-btn" placeholder="imagenNFT" id="inputFile" accept=".jpg" multiple name="imagen">
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text design-input" for="inputGroupSelect01">Categoria</label>
        <select class="form-select design-btn" id="inputGroupSelect01" name="categoria">
          <option selected>Choose...</option>
          <option value="1">Anime</option>
          <option value="2">Accion</option>
          <option value="3">Otro</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon3">Fecha de creacion</span>
        <input type="date" class="form-control design-input" id="basic-url" aria-describedby="basic-addon3" name="fecha">
      </div>

      <div class="input-group">
        <span class="input-group-text design-input">descripcion</span>
        <textarea class="form-control design-input" aria-label="With textarea" name="descripcion"></textarea>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1"><i class="fas fa-gem mx-1"></i></span>
        <input type="number" class="form-control design-input" placeholder="price" aria-describedby="basic-addon1">
        <span class="input-group-text design-input">ETH</span>
      </div>
            
          </section>
            <button class="design-btn">GUARDAR</button>
          </section>
         
    </form>  

    <section>
      <a href="/admin-edit"><button class="design-btn">Ir a Editar</button></a>
    <section>
    </main>

    <!-- inicio footer -->

    <%- include("./partials/Footer") %>

    <!-- fin footer -->

   <!-- Scripts -->
   <%- include("./partials/Scripts") %>
  </body>
</html>
