<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1c47cb3d39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />

    <title>Calamarket</title>
  </head>
  <body>
    <header>
      <nav>

        <div class="main-bar-all">
          <!-- <a href="/"> -->
           <img src="/images/calamar_png.svg" alt="Logo calamardo guiñando el ojo" class="logo" />
          <!-- </a>  -->

          <h1>CALAMARKET</h1>

          <div class="main-navbar">
            
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/market">Market</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="">Cart</a></li>
            </ul>

        </div>    
  

            <img src="/images/bx-menu.svg" alt="menu hamburguesa" class="burger-menu" />
        </div>  

        
      </nav>
    </header>
    <main class="container">
      <section>
        <div>
          <h2>Welcome to Calamarket!</h2>
          <p>Discover the art of the future, welcome to a new age!</p>
          <button>explore</button>
          <button>about us</button>
        </div>
        <article class="home-img-container">
          <img src="/images/handsome-squidward.png" alt="Handsome squidward" class="home-img" />
        </article>
      </section>
    </main>
    <footer>
      <nav>
        <img src="/images/insta.svg" alt="Instagram logo it is clickeable" />
        <img src="/images/twitter.svg" alt="Twitter logo it is clickeable" />
        <img src="/images/facebook.svg" alt="Facebook logo it is clickeable" />
        <img src="/images/github.svg" alt="Github logo it is clickeable" />
      </nav>
    </footer>
  </body>
</html>
