<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->

    <main class="container vh-100 body-container">
      <section>
        <button class="design-btn"><img src="/images/google-logo.svg" alt="Google logo" />login with Google</button>
        <button class="design-btn"><img src="/images/facebook.svg" alt="Facebook logo" />login with Facebook</button>
        <section>
          <div>
            <input type="text" placeholder="email or username" class="design-input" />
          </div>
          <div>
            <input type="text" placeholder="password" class="design-input" />
          </div>
        </section>
        <button class="design-btn">LOGIN</button>
      </section>
    </main>

    <!-- inicio footer -->

    <%- include("./partials/Footer") %>

    <!-- fin footer -->

    <!-- Scripts -->
    <%- include("./partials/Scripts") %>
  </body>
</html>
