<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1c47cb3d39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <title>Calamarket Login</title>
  </head>
  <body>

    <header>
      
      <nav>

        <div class="main-bar-all">

          <img src="/images/calamar_png.svg" alt="Logo calamardo guiñando el ojo" class="logo" />

          <h1>CALAMARKET</h1>

          <div class="main-navbar">
            
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/market">Market</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="">Cart</a></li>
            </ul>

          </div>    
  

            <img src="/images/bx-menu.svg" alt="menu hamburguesa" class="burger-menu" />
        </div>  

        
      </nav>
    </header>

    <main class="container">
      <section>
        <button class="btn-login"><img src="/images/google-logo.svg" alt="Google logo" />login with Google</button>
        <button class="btn-login"><img src="/images/facebook.svg" alt="Facebook logo" />login with Facebook</button>
        <section>
          <div>
            <input type="text" placeholder="email or username" />
          </div>
          <div>
            <input type="text" placeholder="password" />
          </div>
        </section>
        <button>login</button>
      </section>
    </main>
    <footer>
      <nav>
        <img src="/images/insta.svg" alt="Instagram logo it is clickeable" />
        <img src="/images/twitter.svg" alt="Twitter logo it is clickeable" />
        <img src="/images/facebook.svg" alt="Facebook logo it is clickeable" />
        <img src="/images/github.svg" alt="Github logo it is clickeable" />
      </nav>
    </footer>
  </body>
</html>
