<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Calamarket Login</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="/images/calamar_png.svg" alt="Logo calamardo guiñando el ojo" class="logo" />

        <h1>CALAMARKET</h1>

        <img src="/images/bx-menu.svg" alt="menu hamburguesa" class="burger-menu" />
      </nav>
    </header>
    <main class="container">
      <section>
        <button class="btn-login"><img src="/images/google-logo.svg" alt="Google logo" />login with Google</button>
        <button class="btn-login"><img src="/images/facebook.svg" alt="Facebook logo" />login with Facebook</button>
        <section>
          <div>
            <input type="text" placeholder="email or username" />
          </div>
          <div>
            <input type="text" placeholder="password" />
          </div>
        </section>
        <button>login</button>
      </section>
    </main>
    <footer>
      <nav>
        <img src="/images/insta.svg" alt="Instagram logo it is clickeable" />
        <img src="/images/twitter.svg" alt="Twitter logo it is clickeable" />
        <img src="/images/facebook.svg" alt="Facebook logo it is clickeable" />
        <img src="/images/github.svg" alt="Github logo it is clickeable" />
      </nav>
    </footer>
  </body>
</html>
