<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->

    <main class="container body-container">
      <section>
        <button class="design-btn"><img src="/images/google-logo.svg" alt="Google logo" />login with Google</button>
        <button class="design-btn"><img src="/images/facebook.svg" alt="Facebook logo" />login with Facebook</button>
        <section>
          <div>
            <input type="text" placeholder="nombre" class="design-input" />
          </div>
          <div>
            <input type="text" placeholder="choose username" class="design-input" />
          </div>
          <div>
            <input type="text" placeholder="email" class="design-input" />
          </div>
          <div>
            <input type="text" placeholder="password" class="design-input" />
          </div>
          <div>
            <input type="text" placeholder="repeat password" class="design-input" />
          </div>
        </section>
        <button class="design-btn">LOGIN</button>
      </section>
    </main>

    <!-- inicio footer -->

    <%- include("./partials/Footer") %>

    <!-- fin footer -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
