<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->

    <main class="container body-container">
      <section>
        <button class="design-btn"><img src="/images/google-logo.svg" alt="Google logo" />login with Google</button>
        <button class="design-btn"><img src="/images/facebook.svg" alt="Facebook logo" />login with Facebook</button>
        <section>
          <div>
            <input type="text" placeholder="nombre" class="design-input" name="name" />
          </div>
          <div>
            <input type="text" placeholder="choose username" class="design-input" name="userName"/>
          </div>
          <div>
            <input type="text" placeholder="email" class="design-input" name="mail"/>
          </div>
          <div>
            <input type="text" placeholder="password" class="design-input" name="password"/>
          </div>
          <div>
            <input type="text" placeholder="repeat password" class="design-input" name="passwordChek"/>
          </div>
          <div class="flex-column">
            <label for="avatar">Sube tu avatar</label>
            <input type="file" class="design-input" placeholder="avatar" id="inputFile" accept=".jpg" multiple name="avatar">
          </div>
        </section>
        <button class="design-btn">LOGIN</button>
      </section>
    </main>

    <!-- inicio footer -->

    <%- include("./partials/Footer") %>

    <!-- fin footer -->

    <!-- Scripts -->
    <%- include("./partials/Scripts") %>
  </body>
</html>
