.bg-principal{
  background-color: #A6D6C8;
}

.bg_secondary{
  background-color: #d3bcd63d;
}

/* estilos card nft  */

.fa-heart{
  color: #A6D6C8;
  transition: color 450ms;
}

.fa-heart:hover{
  color: red;
}

.fa-cart-plus{
  color: #A6D6C8;
  transition: color 450ms;
}

.fa-cart-plus:hover{
  color: slategray;
}

.card-cart{
  max-width: 8rem;
}

/* estilos modal carrito */

.modal-backdrop{
  z-index: 999;
}

.modal-dialog-scrollable .modal-content {
  max-height: 90%;
}
