html,
body {
  font-family: 'Roboto',
    sans-serif;
  /* font-size: 12px; */
}

.logo {
  width: 45px;
}

.icon-nav{
  max-height: 40px;
}

.icon-simple{
  height: 35px;
}

.container {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 100px;
}

/* header nav {
  border-bottom: solid black 1px;
} */

footer nav {
  height: 10vh;
  /* border-top: solid black 1pxs; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.design-btn {
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 10%;
  padding: 10px;
}
