html,
body {
  font-family: 'Roboto',
    sans-serif;
  font-size: 12px;
}

img {
  max-width: 100%;
}

.logo {
  width: 20%;
  margin-left: 5px;
  max-width: 55px;
}

h1 {
   margin: auto;
   font-size: 2.7rem;
}

h2 {
  margin: 0;
}

.container {
  padding: 10px;
  height: 80vh;
  text-align: center;
  background-color: #EEDCEB;
}

header nav {
  width: 100%;
  /* height: 10vh; */
  background-color: #A6D6C8;
  border-bottom: solid black 1px;
}

.main-navbar{
  display: none;
}

.main-bar-all{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.main-bar-all li{
  list-style-type: none;
}

.main-bar-all a{
  text-decoration: none;
}

.burger-menu{
  margin-right: 15px;
}

footer nav {
  width: 100%;
  height: 10vh;
  border-top: solid black 1px;
  background-color: #A6D6C8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.home-img-container {
  margin: 150px auto;
}

.home-img {
  width: 50%;
}

button {
  margin-bottom: 15px;
  border-radius: 10%;
  padding: 15px 40px;
  text-transform: uppercase;
}

input {
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
  padding: 15px;
}
