<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/Head") %>
</head>
<body>
  <div class="container">
  <h1>Pagina no encontrada</h1>
  <p>Puedes Visitar Nuestro</p>
  <a href="/market"><button class="design-btn">MARKETPLACE</button></a>
  <p>O puedes ir al</p>
  <a href="/"><button class="design-btn">HOME</button></a>
  <img src="/images/error-404-not-found.jpg" alt="Error 404" class="w-100">
</div>
</body>
</html>